<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Search"></Label>
</ActionBar>


<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Search'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->

    <!--(selectedIndexChange)="onIndexChanged($event)"-->
    <TabView selectedIndex="0" sdkExampleTitle sdkToggleNavButton tkMainContent>
        <StackLayout *tabItem="{title: 'Co-working Space'}">

            <SearchBar (textChange)="searchWorkspace($event)" hint="Co-working space name" color="#222" textFieldBackgroundColor="#eee" textFieldHintColor="#222"></SearchBar>

            <ActivityIndicator #activityIndicator busy="true" width="100" height="100" *ngIf="loading_data" class="m-t-30"></ActivityIndicator>

            <ListView [items]="workspaces" class="page page-content" >
                
                
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">

                    <StackLayout [class.odd]="odd" [class.even]="even">
                        <StackLayout orientation="Horizontal" [nsRouterLink]="['./workspaces', item.id]" pageTransition="flip" >
                            <Image [src]= 'item.imagelink' width="40" height="40"></Image>
                            <StackLayout orientation="Vertical" >
                                <Label [text]="item.name" class="list-item h2 m-l-10" ></Label>
                                <Label [text]='item.about' class="h3 m-l-20" ></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>

                </ng-template>

            </ListView>

        </StackLayout>


        <StackLayout *tabItem="{title: 'Organization'}">

            <SearchBar (textChange)="searchOrganiztion($event)" hint="Student activity name" color="#222" textFieldBackgroundColor="#eee" textFieldHintColor="#222"></SearchBar>

            <ActivityIndicator #activityIndicator busy="true" width="100" height="100" *ngIf="loading_data" class="m-t-30"></ActivityIndicator>
            

            <ListView [items]="organizations" class="page page-content" >

                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">

                    <StackLayout [class.odd]="odd" [class.even]="even">
                            <StackLayout orientation="Horizontal">
                                    <Image [src]= 'item.imagelink' width="40" height="40"></Image>
                                    <StackLayout orientation="Vertical">
                                        <Label [text]='item.name' class="list-item h2 m-l-10" [nsRouterLink]="['.', item.id]" pageTransition="flip"></Label>
                                        <Label [text]='item.about' class="h3 m-l-20" [nsRouterLink]="['.', item.id]" pageTransition="flip"></Label>
                                    </StackLayout>
                                </StackLayout>
                    </StackLayout>

                </ng-template>

            </ListView>

        </StackLayout>


    </TabView>





</RadSideDrawer>