<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Welcome"></Label>
</ActionBar>

<!--(selectedIndexChange)="onIndexChanged($event)"-->
<TabView selectedIndex="0" sdkExampleTitle sdkToggleNavButton>
    <ScrollView *tabItem="{title: 'Sign In'}">
        <StackLayout class="chopMargin">
            <!--TO-DO change Image-->
            <Image class="m-t-30 m-b-15" src="res://campus_logo_blue" width="200" height="100"></Image>

            <!--TO-DO change css classes-->
            <Label class="InfoLabels" text="E-mail:" textWrap="true"></Label>
            <TextField [(ngModel)]="user.email" class="InputTextFields" hint="Please enter your Email" autocorrect="false" keyboardType="email"
                text="" autocapitalizationType="none">
            </TextField>

            <Label class="InfoLabels" text="Password:" textWrap="true"></Label>
            <TextField [(ngModel)]="user.password" class="InputTextFields" hint="Password" autocorrect="false" text="" secure="true"></TextField>

            <Button text="Sign in" class="submit-button" (tap)="SignIn()"></Button>

        </StackLayout>
    </ScrollView>
    <ScrollView *tabItem="{title: 'Sign Up'}">
        <StackLayout class="chopMargin">
            <!--TO-DO change Image-->
            <Image class="m-t-30 m-b-15" src="res://campus_logo_blue" width="200" height="100"></Image>


            <!--TO-DO change css classes-->
            <Label class="InfoLabels" text="Username:" textWrap="true"></Label>
            <TextField class="InputTextFields" hint="Please enter your name" autocorrect="false" text="" autocapitalizationType="words"></TextField>

            <Label class="InfoLabels" text="Phone:" textWrap="true"></Label>
            <TextField class="InputTextFields" hint="Please enter your phone number" autocorrect="false" keyboardType="Phone" text=""
                autocapitalizationType="none"></TextField>


            <Label class="InfoLabels" text="E-mail:" textWrap="true"></Label>
            <TextField [(ngModel)]="newuser.email" class="InputTextFields" hint="Please enter your Email" autocorrect="false" keyboardType="email"
                text="" autocapitalizationType="none"></TextField>

            <Label class="InfoLabels" text="Birthdate:" textWrap="true"></Label>
            <DatePicker verticalAlignment="center"></DatePicker>

            <Label class="InfoLabels" text="Password:" textWrap="true"></Label>
            <TextField [(ngModel)]="newuser.password" class="InputTextFields" hint="Please enter your Password" autocorrect="false" text=""
                secure="true">
            </TextField>

            <Label class="InfoLabels" text="Password check:" textWrap="true"></Label>
            <TextField class="InputTextFields" hint="Write password again" autocorrect="false" text="" secure="true"></TextField>

            <Button text="Sign up" class="submit-button" (tap)="SignUp()"></Button>

        </StackLayout>

    </ScrollView>
</TabView>