<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Manage"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Manage'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <StackLayout class="page page-content" tkMainContent>
        <label style="font-weight:bold" text="Manage Co-working Spaces"></label>
        
        <ListView [items]="workspaces"  >
            
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
    
                <StackLayout [class.odd]="odd" [class.even]="even">
                    <Label [text]='item.name' class="list-item" [nsRouterLink]="['./manage_workspace', item.id]"  pageTransition="flip" ></Label>
                </StackLayout>
    
            </ng-template>
    
        </ListView>
        
        <Button text="Create New"  [nsRouterLink]="['./create_workspace']"></Button>

        <label style="font-weight:bold" text="Manage Organizations"></label>

        
        <ListView [items]="organizations"   >
    
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
    
                <StackLayout [class.odd]="odd" [class.even]="even" [nsRouterLink]="['./manage_organization', item.id]"  (tap)="ontrans(item.id)">
                    <Label [text]='item.name'  class="list-item"   pageTransition="flip"  ></Label>
                </StackLayout>
    
            </ng-template>
    
        </ListView>
        <Button text="Create New" [nsRouterLink]="['./create_organization']"></Button>        

    </StackLayout>
</RadSideDrawer>