<!--
The MyDrawer custom component view is where you define what will be displayed in the app drawer.
Feel free to customize layouts and components to change how your app drawer looks.
-->
<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
        <Image class="sidedrawer-header-image fa"  [src]="logo_url"
         height="61" width="61" style="border-radius: 30;"></Image>
        
        <!-- <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>  -->
        <Label class="sidedrawer-header-brand" [text]="name"></Label>
        <Label class="footnote" [text]="email"></Label>
    </StackLayout>

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <MyDrawerItem title="Home" route="/home/profile" icon="&#xf015;" [isSelected]="isPageSelected('Home')">
            </MyDrawerItem>
            <MyDrawerItem title="Search" route="/search" icon="&#xf002;"  [isSelected]="isPageSelected('SearchWorkspace')">
            </MyDrawerItem>
         

            <StackLayout class="hr-light"></StackLayout>

            <MyDrawerItem title="Manage" route="/manage" icon="&#xf013;" [isSelected]="isPageSelected('Manage')">
            </MyDrawerItem>
            <MyDrawerItem title="Log out" route="/home/login" icon="&#xf007;"  [isSelected]="isPageSelected('SearchOrganization')" >
            </MyDrawerItem>


        </StackLayout>
    </ScrollView>
</GridLayout>