<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="organization.name"></Label>
</ActionBar>


<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Search'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->


    <StackLayout sdkToggleNavButton tkMainContent>

        <ActivityIndicator #activityIndicator busy="true" width="100" height="100" *ngIf="loading_data" class="m-t-30"></ActivityIndicator>

        <Image [src]='organization.imagelink' width="100%" height="100"></Image>

        <TabView selectedIndex="0" sdkExampleTitle sdkToggleNavButton>

            <ScrollView *tabItem="{title: 'Info'}">
                <stacklayout>
                    <Label text='Description:' class="h1 m-l-10" textwrap=true></Label>
                    <Label [text]='organization.description' class="h2 m-l-10" textwrap=true></Label>

                    <Label text='University:' class="h1 m-l-10" textwrap=true></Label>
                    <Label [text]='organization.about' class="h2 m-l-10" textwrap=true></Label>

                    <Label text='E-mail:' class="h1 m-l-10" textwrap=true></Label>
                    <Label [text]='organization.email' class="h2 m-l-10" textwrap=true></Label>

                    <Label text='Phone:' class="h1 m-l-10" textwrap=true></Label>
                    <Label [text]='organization.phone' class="h2 m-l-10" textwrap=true></Label>
                </stacklayout>
            </ScrollView>

            <ScrollView *tabItem="{title: 'Workshops'}">
                <stacklayout>
                    <Label [text]='organization.about' class="h1 m-l-10" textwrap=true></Label>
                </stacklayout>
            </ScrollView>

        </TabView>

    </StackLayout>

</RadSideDrawer>