<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="organization.name"></Label>
</ActionBar>


<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Search'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->


    <StackLayout sdkToggleNavButton tkMainContent>

        <ActivityIndicator #activityIndicator busy="true" width="100" height="100" *ngIf="loading_data" class="m-t-30"></ActivityIndicator>

        <Image [src]='organization.imagelink' width="100%" height="100"></Image>

        <TabView selectedIndex="0" sdkExampleTitle sdkToggleNavButton>

            <ScrollView *tabItem="{title: 'Info'}">
                <stacklayout>
                    <Label text='Description:' class="h2 m-l-10" style="font-weight: bold" textwrap=true></Label>
                    <Label [text]='organization.description' class="h3 m-l-10" textwrap=true></Label>

                    <Label text='University:' class="h2 m-l-10" style="font-weight: bold" textwrap=true></Label>
                    <Label [text]='organization.about' class="h3 m-l-10" textwrap=true></Label>

                    <Label text='E-mail:' class="h2 m-l-10" style="font-weight: bold" textwrap=true></Label>
                    <Label [text]='organization.email' class="h3 m-l-10" textwrap=true></Label>

                    <Label text='Phone:' class="h2 m-l-10" style="font-weight: bold" textwrap=true></Label>
                    <Label [text]='organization.phone' class="h3 m-l-10" textwrap=true></Label>
                    
                        <TextField hint="your constructive review" [(ngModel)]="feedback"></TextField>
                        <Button text="Add Review" (tap)="post_review_for_org()" ></Button>
                        <ListView [items]="reviews" >
                            <ng-template let-item="item" let-odd="odd" let-even="even">
                              <StackLayout>
                                  <StackLayout orientation="horizontal">
                                        <Image  width="50" height="50" [src]="item.userimage"></Image>
                                        <StackLayout>
                                            <label [text]="item.username"></label>      
                                            <Label [text]="item.feedback" style="margin-right:9" ></Label>                                            
                                        </StackLayout>
                                  </StackLayout>
                                
                              </StackLayout>
                            </ng-template>
                        </ListView>
                </stacklayout>
            </ScrollView>

            <ScrollView *tabItem="{title: 'Workshops'}">

                <ListView [items]="workshops" class="page page-content">

                    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">

                        <StackLayout [class.odd]="odd" [class.even]="even">
                            <StackLayout orientation="Horizontal">
                                <Image [src]='item.imagelink' width="40" height="40"></Image>
                                <StackLayout orientation="Vertical">
                                    <Label [text]="item.title" class="h2" style="font-weight: bold"></Label>
                                    <Label [text]='item.description' class="h3 m-l-10"></Label>
                                    <Label [text]='item.date' class="h3 m-l-10"></Label>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>

                    </ng-template>

                </ListView>

            </ScrollView>

        </TabView>

    </StackLayout>

</RadSideDrawer>