<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Home'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent>
        <!--Label class="page-icon fa" text="&#xf015;"></Label>
        <Label class="page-placeholder" text="<!-- Page content goes here >"></Label-->
        <!--
        <TextField hint="new password" [(ngModel)]="pass"></TextField>
        
        <Button  text="Update Password" (tap)="updatePassword()"></Button>
            -->

        <TabView selectedIndex="0" sdkExampleTitle sdkToggleNavButton>
            <StackLayout *tabItem="{title: 'News Feed'}">
                <StackLayout orientation="horizontal">
                    <Image [src]="logo_url" width="100" height="100"></Image>
                    
                    <StackLayout>
                            <TextView [text]="'subscriptions: '+sub_c" editable="false"></TextView>
                            
                            <TextField hint="new password" secure="true" [(ngModel)]="pass"></TextField>
                            <Button text="Update Password" (tap)="updatePassword()"></Button>
                        </StackLayout>
                </StackLayout>
            
                

                <ListView [items]="cards" class="page page-content">

                    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">

                        <StackLayout [class.odd]="odd" [class.even]="even" (tap)="tranfertoo(item.id)" [nsRouterLink]="['./organization', item.id]">

                            <CardView class="cardStyle" margin="10" elevation="40" radius="1">
                                <GridLayout rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                                    <Image [src]="item.imageLink" stretch="aspectFit" verticalAlignment="stretch" col="1" row="1" rowSpan="2"></Image>
                                    <Label class="cardStyle h2 text-left" style="font-weight: Bold" horizontalAlignment="left" [text]="item.userName"
                                        row="1" col="2" textWrap="true"></Label>
                                    <Label class="cardStyle h3 text-left" horizontalAlignment="left" [text]="item.actionName" row="2" col="2"></Label>
                                    <Image [src]="item.imageLink" stretch="aspectFit" colSpan="3" col="1" row="3"></Image>
                                </GridLayout>
                            </CardView>

                        </StackLayout>

                    </ng-template>

                </ListView>

            </StackLayout>


            <ScrollView *tabItem="{title: 'Favourites'}">

                <ListView [items]="favouriteOrgs" class="page page-content">

                    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">

                        <StackLayout [class.odd]="odd" [class.even]="even" >
                            <StackLayout orientation="Horizontal">
                                <StackLayout orientation="Vertical">
                                    <Label [text]='item.name' class="list-item h2 m-l-10"></Label>
                                    <Label [text]='item.about' class="h3 m-l-20"></Label>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>

                    </ng-template>

                </ListView>

            </ScrollView>

        </TabView>



    </GridLayout>
</RadSideDrawer>