<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Manage" style="color:white"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Manage'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
<!--
	
id	17
name	"ieee"
description	null
university	"cairo"
logo	null
phone	"0123456"
email	"sad1@sad.com"
event_schedule	null
created_at	"2017-12-17T04:06:38.764Z"
updated_at	"2017-12-17T04:06:38.764Z"
-->


    <TabView selectedIndex="0" sdkExampleTitle sdkToggleNavButton tkMainContent>


        <!--############################### tab 1   ######################### -->


        <StackLayout *tabItem="{title: 'Profile'}">
            <StackLayout  orientation="horizontal">
                <Image  [src]="org.logo" width="150" height="150"></Image>
                <StackLayout>
                    <TextField text="Your Title" width="100%" [(ngModel)]="org.name"  style="margin-top:10"  class="h3" ></TextField>
                    <TextField text="Your Email" width="100%"  [(ngModel)]="org.email"   style="margin-top:10"   class="h3 " ></TextField>
                    <TextField text="Your Phone"  width="100%"  [(ngModel)]="org.phone"   style="margin-top:10"   class="h3 " ></TextField>
                    
                </StackLayout>
              
                
            </StackLayout>
            
            <TextField text="Your Description a bunch of shit is played here, more " height="100px" width="100%"  [(ngModel)]="org.desc"   class="h3 m-x-auto" ></TextField>
            
            <StackLayout orientation="horizontal" width="100%"> 
                <Button text="Browse For Logo" (tap)="browseForImage()" ></Button>            
                <Button text="update" style="background-color:#337ab7;color:white"  (tap)="updateOrganization()" ></Button>            
                
            </StackLayout>
            <TextView [text]="'subscription: '+ sub_count" editable="false"></TextView>
            <TextView [text]="'average Rating: '+ avg_review" editable="false"></TextView>
            <TextView [text]="'Number of workshops held: '+ workshops.length" editable="false"></TextView>
            
            
        </StackLayout>

    

<!--############################### tab 2   ######################### -->


        <ScrollView *tabItem="{title: 'Schedule'}">

                <StackLayout>
                    

                    <TextView
                    text="Workshops" 
                    style="font-weight:bold"
                    WrapText="true"
                    class="m-b-5" editable="false"  style="font-size:medium"  ></TextView>

                    
                    <StackLayout class="hr-light"></StackLayout>
                    <TextField hint="Title" [(ngModel)]="newWorkshop.title"></TextField>
                    <TextField hint="Description" [(ngModel)]="newWorkshop.description"></TextField>

                    <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)"  verticalAlignment="center"></DatePicker>

                                
                    <Button text="Add" style="background-color:#337ab7;color:white" (tap)="AddWorkshop()"  ></Button>      
                    
                    

                    <ListView [items]="workshops"  class="m-r-9 m-l-9" >
                        <ng-template let-item="item" let-odd="odd" let-even="even" >
                            <DockLayout   class="m-12" >
                                    <StackLayout   dock="left" width="80%"  > 
                                            <Label  style="font-size:small;color:#222;font-weight:normal"  [text]="item.title"></Label>
                                            <Label  style="font-size:smaller;color:#222;font-weight:normal"  class="m-l-25" [text]="item.date"></Label>
                                            
                                    </StackLayout>
                                    <Button dock="right"  width="20%"  text="End" (tap)="deleteWorkshop(item.id)" ></Button>
                            </DockLayout>
                            
                        </ng-template>
                    </ListView>
                    


                    
                    <!--
                    <TextView
                    text="Events" 
                    style="font-weight:bold"
                    class="m-b-10" editable="false"  style="font-size:medium"  ></TextView>

                    <ListView [items]="events"  >
                            <ng-template let-item="item" let-odd="odd" let-even="even">
                                <DockLayout stretchLastChild="true">
                                        <Label  dock="left"  [text]="item"></Label>
                                        <Button dock="right"  width="20%"   text="End" ></Button>
                                </DockLayout>
                                
                            </ng-template>
                    </ListView>


                    <TextField hint="title" [(ngModel)]="newEvent.title"></TextField>
                    <TextField hint="description" [(ngModel)]="newEvent.title"></TextField>
                    <TextField hint="location"  [(ngModel)]="newEvent.title"></TextField>
                    <DatePicker (loaded)="onPickerLoadede($event)" (dateChange)="onDateChangede($event)"  verticalAlignment="center"></DatePicker>
                    

                    <Button text="Add" style="background-color:#337ab7;color:white" (tap)="AddEvent()"  ></Button>    
                -->
                </StackLayout>
        

        </ScrollView>

    

<!--############################### tab 3   ######################### -->



        <StackLayout *tabItem="{title: 'Staff'}">
            
            <TextView
            text="Current Staff Members" 
            style="font-weight:bold"
            WrapText="true"
            class="m-b-5" editable="false"  style="font-size:medium"  ></TextView>


            <ListView [items]="managers" >
                <ng-template let-item="item" let-odd="odd" let-even="even">
                    <StackLayout>
                        <Label [text]="item.name" style="color:#222;font-weight:normal;margin-left:19;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="h4 m-l-9" ></Label>
                        <Label [text]="item.email" style="color:#222;;font-weight:300;margin-left:19;font-family:cursive" class="h5 m-l-9" ></Label>
                    </StackLayout>
                </ng-template>
            </ListView>


            <StackLayout orientation="horizontal">
                    <TextField hint="enter user gmail" width="64%" [(ngModel)]="email"></TextField>
                    <Button text="Grant Access" (tap)="grantAccess()"> </Button>                        
            </StackLayout>
                

        </StackLayout>

    
    </TabView>


    

        

</RadSideDrawer>