<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Create" style="color:white"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Manage'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->

    <ScrollView tkMainContent>
     
        <StackLayout  >
            <TextView
            text="*A Co-Working Space is the heart of all your branches, after you create a workspace ,you can add as many branches as you want ,or just one. " 
            class="m-b-10" editable="false"  style="font-size:smaller"  ></TextView>

            <Label text="Co-Working Space Title"  ></Label>    
            <TextField hint="title of your Co-Working Space"  [(ngModel)]="w.name"   text="" ></TextField>
            <Label text="About"  ></Label>                
            <TextField hint="Brief intro to what do you do" [(ngModel)]="w.about"  text="" ></TextField>            
                        
            <StackLayout orientation="horizontal" width="100%"> 
                <Button text="Browse For Logo" (tap)="browseForImage()" ></Button>            
                <Button text="Done" class="success_button"  (tap)="createWorkspace()" ></Button>            
                
            </StackLayout>
            
        
             
    
        </StackLayout>
    </ScrollView>

</RadSideDrawer>

<!--ListPicker [items]="unives" style="font-size:14" selectedIndex="0" ></ListPicker -->      

<!--
create_table "workspaces", force: :cascade do |t|
  t.string "name", null: false
  t.string "logo"
  t.text "about"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
end
-->