<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Admin"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Home'"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->


    




    <TabView  sdkExampleTitle sdkToggleNavButton tkMainContent>

            <StackLayout class="page page-content"   *tabItem="{title: 'Workspaces'}">
                <TextView text="Admin Authority Granted" editable="false"></TextView>
                <TextView  [(ngModel)]="no_of_workspaces" editable="false"></TextView>
                
        
                <ListView [items]="workspaces" class="page page-content" height="100%">
                    
                    
                    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        
                        <StackLayout orientation="horizontal" style="margin-bottom:20;padding-bottom:10">
                            <Image width="60" height="60" [src]="item.imagelink"></Image>
                            <StackLayout width="60%" style="padding-left:5">
                                <label [text]="item.name"  ></label>      
                            </StackLayout>
                            <button  (tap)="deleteWorkspace(item.id)" style="background-color:#337ab7;color:white" text="remove"></button>
                        </StackLayout>
        
                    </ng-template>
        
                </ListView>
        
            </StackLayout>

            

            <StackLayout class="page page-content"   *tabItem="{title: 'Organizations'}" >
                <TextView text="Admin Authority Granted" editable="false"></TextView>
                <TextView  [(ngModel)]="no_of_organizations" editable="false"></TextView>
                
        
                <ListView [items]="organizations" class="page page-content" height="100%">
                    
                    
                    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        
                        <StackLayout orientation="horizontal" style="margin-bottom:20;padding-bottom:10">
                            <Image width="60" height="60" [src]="item.imagelink"></Image>
                            <StackLayout width="60%" style="padding-left:5">
                                <label [text]="item.name"  ></label>      
                            </StackLayout>
                            <button  (tap)="deleteOrganization(item.id)" style="background-color:#337ab7;color:white" text="remove"></button>
                        </StackLayout>
        
                    </ng-template>
        
                </ListView>
        
            </StackLayout>


            <StackLayout class="page page-content"   *tabItem="{title: 'Users'}" >
                <TextView text="Admin Authority Granted" editable="false"></TextView>
                <TextView  [(ngModel)]="no_of_users" editable="false"></TextView>
                
        
                <ListView [items]="users" class="page page-content" height="100%">
                    
                    
                    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                        
                        <StackLayout orientation="horizontal" style="margin-bottom:20;padding-bottom:10">
                            <Image width="60" height="60" [src]="item.imagelink"></Image>
                            <StackLayout width="60%" style="padding-left:5">
                                <label [text]="item.name"  ></label>      
                            </StackLayout>
                            <button  (tap)="deleteUser(item.id)" style="background-color:#337ab7;color:white" text="remove"></button>
                        </StackLayout>
                    

                    </ng-template>
        
                </ListView>
        
            </StackLayout>



            <StackLayout class="page page-content"   *tabItem="{title: 'Admins'}" >
                    <TextView text="Admin Authority Granted" editable="false"></TextView>
                    <StackLayout orientation="horizontal" >
                        <TextField hint="email" width="71%"   [(ngModel)]="email"></TextField>
                        <Button text="Grant Access" (tap)="add_admin()"></Button>
                    </StackLayout>        
            
                    <ListView [items]="admins" class="page page-content" height="100%">
                        
                        
                        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                            
                            <StackLayout >
                                    <label [text]="item"  ></label>      
                                
                            </StackLayout>
                        
    
                        </ng-template>
            
                    </ListView>
            
                </StackLayout>







       
    </TabView>
</RadSideDrawer>